html, body {
  font-family: 'Rubik', sans-serif;
}

/* Show navigation on large screens */
@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

